DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=source_matching

CHROME_PROFILE_DIR=source_matching/profiles/profile-001
CHROME_EXECUTABLE_PATH=
CHROME_CHANNEL=chrome
CHROME_PROXY_SERVER=
CHROME_CDP_URL=
CHROME_REMOTE_DEBUGGING_PORT=9222
CHROME_HEADLESS=false
CHROME_LAUNCH_DISPLAY=
CHROME_LAUNCH_XAUTHORITY=

INPUT_IMAGE_DIR=C:\project\maozi-plugin-2.3.2\ozon_pic
DOWNLOAD_DIR=C:\project\maozi-plugin-2.3.2\source_matching\downloads
RESULT_DIR=C:\project\maozi-plugin-2.3.2\source_matching\results
TARGET_OFFER_TAGS=1988226
TARGET_SORT_TYPE=normal
SEARCH_PAGE_BASE=https://s.1688.com/youyuan/index.htm
SEARCH_WAIT_TIMEOUT_MS=60000
MAX_MATCHES_PER_IMAGE=10
